/* LESS Document */
/**********Instruction**********/
.api-wrap {
  border-top: 1px solid #d7d7d7;
}
.api-wrap li {
  position: relative;
  float: left;
  width: 50%;
  height: 1.5rem;
  border-bottom: 1px solid #d7d7d7;
  overflow: hidden;
}
.api-wrap li:nth-of-type(2n+1) {
  border-right: 1px solid #d7d7d7;
}
.api-wrap li img {
  position: absolute;
  left: 50%;
  top: .4rem;
  margin-left: -0.2rem;
  width: .4rem;
  height: .4rem;
}
.api-wrap li p {
  text-align: center;
  line-height: 2rem;
}
.api-wrap li a {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}
