@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?e5dghd');
    src:    url('fonts/icomoon.eot?e5dghd#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?e5dghd') format('truetype'),
        url('fonts/icomoon.woff?e5dghd') format('woff'),
        url('fonts/icomoon.svg?e5dghd#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-active-clocks:before {
    content: "\e900";
}
.icon-all:before {
    content: "\e901";
}
.icon-bangzhu:before {
    content: "\e902";
}
.icon-bottom-index:before {
    content: "\e903";
}
.icon-bottom-me:before {
    content: "\e904";
}
.icon-bottom-services:before {
    content: "\e905";
}
.icon-clock:before {
    content: "\e906";
}
.icon-control-add:before {
    content: "\e907";
}
.icon-control-box:before {
    content: "\e908";
}
.icon-control-boxB:before {
    content: "\e909";
}
.icon-control-close:before {
    content: "\e90a";
}
.icon-control-del:before {
    content: "\e90b";
}
.icon-control-eye:before {
    content: "\e90c";
}
.icon-control-eyeB:before {
    content: "\e90d";
}
.icon-control-fork:before {
    content: "\e90e";
}
.icon-control-getTop:before {
    content: "\e90f";
}
.icon-date-back:before {
    content: "\e910";
}
.icon-date-date:before {
    content: "\e911";
}
.icon-date-get:before {
    content: "\e912";
}
.icon-font-a:before {
    content: "\e913";
}
.icon-font-i:before {
    content: "\e914";
}
.icon-fx-down:before {
    content: "\e915";
}
.icon-fx-downS:before {
    content: "\e916";
}
.icon-fx-left:before {
    content: "\e917";
}
.icon-fx-right:before {
    content: "\e918";
}
.icon-fx-up:before {
    content: "\e919";
}
.icon-good:before {
    content: "\e91a";
}
.icon-home-backindex:before {
    content: "\e91b";
}
.icon-home-one:before {
    content: "\e91c";
}
.icon-home-two:before {
    content: "\e91d";
}
.icon-hotel-city:before {
    content: "\e91e";
}
.icon-hotel-distance:before {
    content: "\e91f";
}
.icon-hotel-home:before {
    content: "\e920";
}
.icon-iconfont-playaudio:before {
    content: "\e921";
}
.icon-ins-business:before {
    content: "\e922";
}
.icon-ins-file:before {
    content: "\e923";
}
.icon-ins-fly:before {
    content: "\e924";
}
.icon-ins-luggage:before {
    content: "\e925";
}
.icon-ins-money .path1:before {
    content: "\e926";
    color: rgb(4, 0, 0);
}
.icon-ins-money .path2:before {
    content: "\e927";
    margin-left: -1em;
    color: rgb(4, 0, 0);
}
.icon-ins-money .path3:before {
    content: "\e928";
    margin-left: -1em;
    color: rgb(4, 0, 0);
}
.icon-ins-money .path4:before {
    content: "\e929";
    margin-left: -1em;
    color: rgb(4, 0, 0);
}
.icon-ins-money .path5:before {
    content: "\e92a";
    margin-left: -1em;
    color: rgb(4, 0, 0);
}
.icon-ins-money .path6:before {
    content: "\e92b";
    margin-left: -1em;
    color: rgb(4, 0, 0);
}
.icon-ins-money .path7:before {
    content: "\e92c";
    margin-left: -1em;
    color: rgb(4, 0, 0);
}
.icon-ins-money .path8:before {
    content: "\e92d";
    margin-left: -1em;
    color: rgb(4, 0, 0);
}
.icon-ins-money .path9:before {
    content: "\e92e";
    margin-left: -1em;
    color: rgb(4, 0, 0);
}
.icon-ins-money .path10:before {
    content: "\e92f";
    margin-left: -1em;
    color: rgb(39, 38, 53);
}
.icon-ins-people:before {
    content: "\e930";
}
.icon-ins-team:before {
    content: "\e931";
}
.icon-ins-ticket:before {
    content: "\e932";
}
.icon-ins-visa:before {
    content: "\e933";
}
.icon-kongbofang:before {
    content: "\e934";
}
.icon-loading-code:before {
    content: "\e935";
}
.icon-loading-phone:before {
    content: "\e936";
}
.icon-loading-phoneB:before {
    content: "\e937";
}
.icon-loading-psw:before {
    content: "\e938";
}
.icon-loading-pswB:before {
    content: "\e939";
}
.icon-mianqian:before {
    content: "\e93a";
}
.icon-money-only:before {
    content: "\e93b";
}
.icon-more-spot:before {
    content: "\e93c";
}
.icon-more-top:before {
    content: "\e93d";
}
.icon-my-class:before {
    content: "\e93e";
}
.icon-my-data:before {
    content: "\e93f";
}
.icon-my-edit:before {
    content: "\e940";
}
.icon-my-foot:before {
    content: "\e941";
}
.icon-my-set:before {
    content: "\e942";
}
.icon-near-distance:before {
    content: "\e943";
}
.icon-near-food:before {
    content: "\e944";
}
.icon-near-level:before {
    content: "\e945";
}
.icon-near-score:before {
    content: "\e946";
}
.icon-order-explain:before {
    content: "\e947";
}
.icon-order-hotel:before {
    content: "\e948";
}
.icon-order-insurance:before {
    content: "\e949";
}
.icon-order-ticket:before {
    content: "\e94a";
}
.icon-order-visa:before {
    content: "\e94b";
}
.icon-plane-replace:before {
    content: "\e94c";
}
.icon-play:before {
    content: "\e94d";
}
.icon-player-begin:before {
    content: "\e94e";
}
.icon-player-hom:before {
    content: "\e94f";
}
.icon-player-like:before {
    content: "\e950";
}
.icon-player-likeB:before {
    content: "\e951";
}
.icon-player-pause:before {
    content: "\e952";
}
.icon-player-pauseB:before {
    content: "\e953";
}
.icon-player-play:before {
    content: "\e954";
}
.icon-player-playB:before {
    content: "\e955";
}
.icon-player-times:before {
    content: "\e956";
}
.icon-player-zambia:before {
    content: "\e957";
}
.icon-player-zambiaB:before {
    content: "\e958";
}
.icon-pos-map:before {
    content: "\e959";
}
.icon-pos-pos:before {
    content: "\e95a";
}
.icon-pos-posA:before {
    content: "\e95b";
}
.icon-pos-posB:before {
    content: "\e95c";
}
.icon-prompt-error:before {
    content: "\e95d";
}
.icon-prompt-none:before {
    content: "\e95e";
}
.icon-prompt-pic:before {
    content: "\e95f";
}
.icon-prompt-right:before {
    content: "\e960";
}
.icon-prompt-sure:before {
    content: "\e961";
}
.icon-prompt-ver:before {
    content: "\e962";
}
.icon-prompt-warning:before {
    content: "\e963";
}
.icon-prompt-word:before {
    content: "\e964";
}
.icon-scenic-scenic:before {
    content: "\e965";
}
.icon-scenic-tourguide .path1:before {
    content: "\e966";
    color: rgb(0, 0, 0);
}
.icon-scenic-tourguide .path2:before {
    content: "\e967";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-scenic-tourguide .path3:before {
    content: "\e968";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-scenic-type:before {
    content: "\e969";
}
.icon-server-phone:before {
    content: "\e96a";
}
.icon-server-phoneB:before {
    content: "\e96b";
}
.icon-server-service:before {
    content: "\e96c";
}
.icon-star-full:before {
    content: "\e96d";
}
.icon-star-null:before {
    content: "\e96e";
}
.icon-start-half:before {
    content: "\e96f";
}
.icon-top-msg:before {
    content: "\e970";
}
.icon-top-refresh:before {
    content: "\e971";
}
.icon-top-scan:before {
    content: "\e972";
}
.icon-top-search:before {
    content: "\e973";
}
.icon-top-searchC:before {
    content: "\e974";
}
.icon-top-share:before {
    content: "\e975";
}
.icon-user-current:before {
    content: "\e976";
}
.icon-user-man:before {
    content: "\e977";
}
.icon-user-modify:before {
    content: "\e978";
}
.icon-user-woman:before {
    content: "\e979";
}
.icon-word-ask:before {
    content: "\e97a";
}
.icon-word-clock:before {
    content: "\e97b";
}
.icon-word-comment:before {
    content: "\e97c";
}
.icon-word-contact:before {
    content: "\e97d";
}
.icon-word-fracture:before {
    content: "\e97e";
}
.icon-word-guide:before {
    content: "\e97f";
}
.icon-word-null:before {
    content: "\e980";
}
.icon-word-send:before {
    content: "\e981";
}
.icon-word-text:before {
    content: "\e982";
}
.icon-word-transtate:before {
    content: "\e983";
}
.icon-xiaobofang:before {
    content: "\e984";
}
.icon-xing:before {
    content: "\e985";
}

