/* LESS Document */
/**********Instruction**********/
.tips-video,
.tips-video video {
  width: 100%;
  height: 2.3rem;
  position: relative;
}
.tips-video span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2.3rem;
  background: rgba(0, 0, 0, 0.5);
}
.tips-video span i {
  position: absolute;
  top: 50%;
  left: 50%;
  width: .6rem;
  height: .6rem;
  margin: -0.3rem;
  background: url(../imgs/spbofang@2x.png) no-repeat;
  background-size: contain;
}
.tips-wrap {
  background: #fff;
}
.tips-title {
  padding-left: .12rem;
  width: 100%;
  height: .44rem;
  line-height: .44rem;
  font-size: .16rem;
  color: #16bcfa;
  background: #fff;
}
.tips-title > h2 {
  border-bottom: 1px solid #e8e8e8;
  color: #16bcfa;
}
.tips-title2 {
  margin: .12rem 0;
  line-height: .18rem;
  font-size: .14rem;
  font-weight: bold;
}
.tips-detail {
  padding-left: .12rem;
  background: #fff;
}
.tips-detail i {
  float: left;
  width: .04rem;
  height: .04rem;
  background: url(../imgs/dot.png) no-repeat;
  background-size: contain;
  margin-top: .06rem;
  margin-right: .05rem;
}
.tips-detail li {
  margin-bottom: .1rem;
  padding-right: .12rem;
}
.tips-detail li:last-of-type {
  padding-bottom: .1rem;
}
.tips-detail li p {
  line-height: .18rem;
  font-size: .14rem;
  color: #666;
}
.single-title2 li:first-of-type {
  margin-top: .1rem;
}
.tips-wrap .no-paddingB {
  padding-bottom: 0 !important;
}
